---

---


<html lang ="en">
    <head>
		
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />

        <title>TechMurda About</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>

        <h1>About Me</h1>
        <h2>TechMurda Blog</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ab blanditiis reprehenderit asperiores, assumenda expedita! Sunt perferendis impedit cupiditate maiores pariatur odit placeat, alias explicabo fuga quidem. Eligendi, exercitationem inventore?</p>

        <p>We will update this site frequently so check back and see how the journey is going!</p>

    </body>
</html>