---
const pageTitle = "About TechMurda";
import '../styles/global.css';

---


<html lang ="en">
    <head>
		
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />

        <title>{pageTitle}</title>
    </head>
    <body>

        <nav class="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		

        <h1>{pageTitle}</h1>
        <h2>TechMurda Blog</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum ab blanditiis reprehenderit asperiores, assumenda expedita! Sunt perferendis impedit cupiditate maiores pariatur odit placeat, alias explicabo fuga quidem. Eligendi, exercitationem inventore?</p>

        <p>We will update this site frequently so check back and see how the journey is going!</p>

    </body>
</html>