---
const pageTitle = "TechMurda Blog";
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';


---


<html lang ="en">
    <head>
		
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />

        <title>{pageTitle}</title>
    </head>
	<body>

		<header class="header">
			<a href="" style="--i:1;" class="logo">TechMurda.</a>

			<Navigation/>

			<div class="social-media">
				<a href="#"style="--i:1;"><i class='bx bxl-twitter'></i></a>
				<a href="#"style="--i:2;"><i class='bx bxl-facebook' ></i></a>
				<a href="#"style="--i:3;"><i class='bx bxl-telegram' ></i></a>
			</div>
		</header>
	</body>
</html>