---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="generator" content={Astro.generator} />
		
		<title>TechMurda Chain</title>
		<style>
			img {
				width: 100px;
				border-radius: 10px;
				float:left;
				margin-right: 10px;
			}



		</style>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>

		<h1>TechMurda Chain</h1>
		<img src= "/techmurda-logo.jpeg">
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio voluptas perferendis, quibusdam nostrum ratione mollitia quam unde eaque asperiores nisi fugiat a aperiam cum aspernatur ea enim facere amet doloremque.</p>
	</body>
</html>
