---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';
import Footer from '../components/Footer.astro';


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=0.2"/>
		<meta name="generator" content={Astro.generator} />
		<title>TechMurda Chain</title>
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<link rel="stylesheet" href="global.css">

	</head>
	
	<body>

		<header class="header">
			<a href="" style="--i:1;" class="logo">TechMurda.</a>

			<Navigation/>

			<div class="social-media">
				<a href="https:www.twitter.com/techmurda"style="--i:1;"><i class='bx bxl-twitter'></i></a>
				<a href="https://www.linkedin.com/in/william-h-0a62382a8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"style="--i:2;"><i class='bx bxl-linkedin' ></i></a>
				<a href="https://t.me/techmurda_chain"style="--i:3;"><i class='bx bxl-telegram' ></i></a>
			</div>
		</header>

		<section class="home">

			<div class="home-content">
				<h1>TechMurda Chain</h1>
				<h3>Redefined!</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum atque minus accusantium voluptatem ad rem hic nulla esse nisi neque quisquam quas voluptate id, nostrum tenetur eum sunt tempora provident!</p>
				<a href="#" class="btn">Explore Topics</a>
			</div>

			<div class="home-img">
				<div class="techmurda"> 
					<img src="/techmurda-logo.jpeg" alt="techmurda-logo.jpeg">
				</div>
			</div>

		</section>

		<Footer/>
	</body>
</html>
