---
import BaseLayout from "../Layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import global from "../global.css";
---


<BaseLayout>

    <section class="topic">
        <div class="topic-content">
             <h1>Explore Topics</h1>
             <p><b>Under Development</b></p>
        </div>
    </section>

</BaseLayout>